%hr
  = simple_form_for @photo, :html=>{:multipart=>true,:class=>'form-horizontal'} do |f|
    = f.error_notification
    .form-inputs
      = f.input :description,  :autofocus => true
      = f.input :image , :as=>"file"
      = f.input  :remote_image_url
      = f.hidden_field :album_id
      = f.input :remove_image,:as=>"boolean"
    .form-actions
      = f.button :submit, "Save"
